.test {
    width: 400px;
}

.add_menu form {
    margin: 40px;
    padding: 20px;
}
.add_menu form input{
    outline: none;
    border-radius: 8px;
    border: 6px solid #EEE;
    height: 40px;
    width: 125px;
}





